/* Insert your styles here */

/* --------------- global styles ------------*/

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a:link,
a:visited {
    color: #FFBD59;
    text-decoration: none;
    font-size: 1.5em;
    font-family: 'Staatliches', cursive;
}

a:hover,
a:active {
    color: #FFF171;
    text-decoration: none;
    font-size: 2em;
    font-family: 'Staatliches', cursive;
}

section {
    min-height: 103vh;
    position: inherit;
    font-family: 'Molengo', sans-serif;
}

/* ------- fonts --------- */

/*** font taken from https://www.dafont.com/cinema-st.font *****/
@font-face{
    font-family: cinema;
    src: url(../../cinema_st.ttf);
    font-weight: normal;
}

/* ------ headings -------*/

.main-heading{
    font-display: cinema;
}

h2 {
    color: #FFBD59;
    background-color: #8C2129;
    text-align: center;
    font-size: 1.8em;
    padding: 58px 0 5px;
    font-family: 'Staatliches', cursive;

}

h3 {
    font-size: 1.8em;
    padding: 10px;
    font-family: 'Staatliches', cursive;
}

/*----- Header -----*/

header {
    min-height: 700px;
    margin: 0 auto;
    color: #fff;
    /* Photo by Felix Mooneeram on Unsplash */
    /* https://www.pexels.com/photo/adult-amphitheater-armchair-balcony-458379/ */
    background-image: url(../../media/cinema-header-background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
}

/*** logo created at https://www.canva.com/ **/

.logo{
    padding-top: 5%;
   
}

.logo img{
    display: block;
    margin: 0 auto;
    
    border: solid 5px white;
}

.main-heading{
    display: none;
}

/* Photo by Felix Mooneeram on Unsplash */

/* ----- Navigation -----*/

nav {
    background-color: #591617;
    position: sticky;
    top: 0;
    padding: 0;
    z-index: 99;
    border-bottom: solid 2px white;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    color: white;
    align-content: center;
    max-width: 90%;
    margin: 0 auto;
}

nav ul li {
    display: inline-block;
    padding: 5px;
    border-color: white;
    flex-basis: 20%;
    text-decoration: none;
    text-align: center;
}




/* -----About us ---- */
/* Photo by Thomas William on Unsplash */
#about-us {
    background-image: url(../../media/about-back.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.about-us-cont {
    background-color: hsla(0, 0%, 95%, .7);
    max-width: 600px;
    min-height: 700px;
    color: black;
    margin: 5% 10% 0% 10%;
    padding: 40px;
    overflow: auto;
    border-radius: 6px;
    border: solid 2px #8C2129;
}

.about-us-cont p {
    font-size: 1.2em;
    padding: 8px;
    
}

.about-us-cont ul{
    font-size: 1.2em;
    color: black;
    padding: 8px;
    margin: 0 20px;
}

.about-us-cont ul a {
    color: #000;
}



/* --------------Seats and Prices ------------ */
/* https://www.pexels.com/photo/curve-industry-photography-vintage-65128/ */
#seats-and-prices {
    background-image: url(../../media/seat-price-background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.seats-h2{
    margin-bottom: 30px;
}

.seat-cont {
    background-color: hsla(0, 0%, 97%, .7);
    max-width: 600px;
    color: black;
    padding: 40px;
    overflow: auto;
    border-radius: 6px;
    margin-bottom: 10px;
    border: solid 2px #8C2129;
}

.seat-cont img {
    max-width: 70%;
    padding-top: 40px;
}

.price-cont {
    background-color: hsla(0, 0%, 95%, .7);
    max-width: 800px;
    color: black;
    padding: 30px;
    overflow: auto;
    border-radius: 6px;
    border: solid 2px #8C2129;
}

.seat-prices-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1600px;
    max-height: 100%;
    margin: 0 auto;
    padding-top: 0px;
    padding-bottom: 35px;
}

.seat-center{
    margin: 0 auto;
    border: solid 2px;
}

.stand-seat,
.first-seat{
    border: none;
    display: block;
    margin: 0 auto;
    padding: 10px;
    max-width: 100%
}

.img-info{
    text-align: center;
    font-size: 1.2em;
}

/* ---- format table with prices ------ */



table {
    max-width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}

th {
    font-size: 1.1em;
    border-bottom: solid 2px #8C2129;
    padding-top: 20px;
    padding-bottom: 3px;
    width: 500px;
    text-align: left;
}

td {
    border-bottom: solid 2px #8C2129;
    padding-bottom: 3px;
    padding-left: 7px;
    text-align: left;
    padding-top: 10px;
}

.table-space {
    padding-top: 60px;
}

.double-border{
    border-bottom-style:double;
}


/* -----------------------------------now showing -------------------------*/
/* https://www.pexels.com/photo/board-cinema-cinematography-clapper-board-274937/ */
#now-showing {
    background-image: url(../../media/now-showing-background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.flex-container-now-showing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1600px;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 30px
}

.flex-movie1,
.flex-movie2,
.flex-movie3,
.flex-movie4 {
    background-color: hsla(0, 0%, 95%, .7);
    max-width: 600px;
    color: black;
    padding-top: 30px;
    padding-bottom: 20px;
    overflow: auto;
    border-radius: 6px;
    margin-bottom: 10px;
    margin-top: 30px;
    text-align: center;
    flex-basis: 300px;
    border: solid 2px #8C2129;
}

#now-showing h3 {
    font-size: 1.5em;
}

.test {
    margin: 0 auto;
}


/* ------ trailer ---- */

.flex-container-trailer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 3em;
    max-width: 1400px;
    margin: 0 auto;
}

.flex-item-trailer1 {
    max-width: 350px;
}

.flex-item-trailer1 h4 {
    padding: 10px 10px 10px 0px;
}

.flex-item-trailer1 p {
    padding-bottom: 30px;
}


.flex-item-trailer1 {
    padding: 10px;
}

.flex-item-trailer2 iframe {
    max-width: 100%;
}


.trailer-background-cont {
    background-color: floralwhite;
    padding: 30px;
    position: relative;
}

/*------------------- buttons --------------*/
.select-time-heading {
    margin: 5px;
    position: inherit;
    left: 15%;
}

.slecect-day-time-buttons-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
    flex-basis: 10%;
}

button {
    width: 150px;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    background-color: #FFBD59;
    font-weight: bold;
    border: solid #FF9D1D 3px;
}

button:link,
button:visited {
    
}

button:hover,
button:active {
    background-color: #FFF171;
    border: solid #FFE00C 3px;
}

/* ------------------------Bookings --------------------------------- */
/*Photo by rawpixel.com from Pexels*/
#bookings {
    background-image: url(../../media/booking-background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.booking-wrap {
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: hsla(0, 0%, 95%, .9);
    border-radius: 6px;
    border: solid 2px #8C2129;
}

.ticket-flex-wraper {
    display: flex;
    flex-direction: column;
    flex-basis: 49%;
}

.cust-details {
    flex-basis: 49%;
}

fieldset {
    min-width: 400px;
    padding: 30px;
    margin: 20px;
}

.booking-flex-wraper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

legend {
    font-size: 1.5em;
    font-style:
}

input {
    display: inline-block;
    font-size: 1.5em;
    width: 100%;
    border: none;
    border-bottom: solid #8C2129 3px;
}

input:focus {
  background-color: #FFF171;
  border: solid #FFE00C 3px;
}

select {
    display: inline-block;
    font-size: 1.5em;
    border: none;
    border-bottom: solid #8C2129 3px;
    width: 160px;
}

label {
    display: inline-block;
    font-size: 1.2em;

    min-width: 40%;
    padding: 10px 20px 20px 0px;
}

.booking-col-flex{
    margin-top: 50px;
}

.total-order-wrap{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.total-order-wrap output{
    height: auto;
    width: 150px;
    height: 50px;
    padding: 12px 150px 15px 12px;
    margin: 5px 25px 5px 5px;
    background-color: white;
    font-weight: bold;
    border: solid #8C2129 3px;
}

.total-order-wrap span{
    margin: 5px;
    padding: 15px;
    font-size: 1.3em;
    font-weight: bold;
}

/* ----------- footer ----------- */

footer{
    background-color: grey;
   flex-basis: 70%, 30%;
}

.footer-wrap-flex{
    display: flex;
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    flex-wrap: wrap;
}

.footer-button{
    margin-left: 20px;  
}

#toggleWireframeCSS{
    background-color: darkgray;
    border-color: black;
}