/* Insert your styles here */

/* Insert your styles here */

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

a:link, a:visited {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}

a:hover, a:active {
  color: white;
  text-decoration: none;
    font-size: 2em;
}

/* ------ headings -------*/

@font-face{
    
}

h2{
    color: white;
    background-color: #8C2129;
    color: white;
    text-align: center;
    font-size: 2em;
    padding: 85px 0 20px ;
    font-family: 'Staatliches', cursive;
}

/*----- Header -----*/

header{
    min-height: 700px;
    margin: 0 auto;
    color: #fff;
    /* Photo by Felix Mooneeram on Unsplash */
    background-image: url(../../media/cinema-header-background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
}

/* Photo by Felix Mooneeram on Unsplash */

/* ----- Navigation -----*/

nav{
    background-color: #591617;
    position: sticky;
    top: 0;
    margin: 0 auto;
    padding: 0;
}

nav  ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    color: white;
    align-content: center;
    margin: 0 auto;
}

nav ul li{
    display:inline-block;
    padding: 20px;
    border-color: white;
    flex-basis: 20%;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
}

main{
    margin-top: 0;
    padding: 0;
}

body{
    background-color: #white;
    color:black;
    margin: auto;
    position: relative;
    
}

/* -----About us ---- */
/* Photo by Thomas William on Unsplash */
#about-us{
    min-height: 100vh;
    background-image: url(../../media/about-us-background.jpg);
    background-size: cover;
    background-attachment: fixed;
}



/* --------------Seats and Prices ------------ */
/* https://www.pexels.com/photo/curve-industry-photography-vintage-65128/ */
#seats-and-prices{
    min-height: 100vh;
    background-image: url(../../media/seat-price-background.jpg);
    background-size: cover;
    background-attachment: fixed;
    
}







/* ---- format table with prices ------ */

table{
    background-color: beige;
}

th{
    font-size: 1.5em;
    border-bottom: solid green;
    padding: 15px;
}

td{
    padding: 15px;
    border-bottom: solid green;
}



/* -----------------------------------now showing -------------------------*/
/* https://www.pexels.com/photo/board-cinema-cinematography-clapper-board-274937/ */
#now-showing{
    min-height: 100vh;
    background-image: url(../../media/now-showing-background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.flex-container-now-showing{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1400px;
    margin: 0 auto;
}

/* ------ trailer ---- */

.flex-container-trailer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 3em;
    max-width: 1400px;
     margin: 0 auto;
}

.flex-item-trailer1{
    display: inline-block;
    max-width: 40%;
}

.flex-item-trailer2{
    display: inline-block;
}

/* ------------------------Bookings --------------------------------- */
/*Photo by rawpixel.com from Pexels*/
#bookings{
    min-height: 100vh;
    background-image: url(../../media/booking-background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.booking-flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1400px;
    margin: 0 auto;
}

select, input{
    display: block;
}

