/* ------------------------------ global styles -----------------------------------
-----------------------------------------------------------------------------------*/

/* add smooth scroll efffect to whole site */
html {
    scroll-behavior: smooth;
}

body {
    position: relative;
}

/* set all margins and padding to 0 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*set height and standard font for each section */
section {
    min-height: 103vh;
    position: inherit;
    font-family: 'Molengo', Arial, sans-serif;
    color: #000;
}

/* - format tables - */
table {
    max-width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}

th {
    font-size: 1.1em;
    border-bottom: solid 2px #8C2129;
    padding-top: 20px;
    padding-bottom: 3px;
    width: 500px;
    text-align: left;
}

td {
    border-bottom: solid 2px #8C2129;
    padding-bottom: 3px;
    padding-left: 7px;
    text-align: left;
    padding-top: 10px;
}

/* add space to seperate parts of the table*/
.table-space {
    padding-top: 60px;
}

/* elminates some margin problems */
.elim-margin {
    height: 100%
}

/*--------------- buttons --------------*/
/* standard buttons */

button {
    width: 160px;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    background-color: #FFBD59;
    font-weight: bold;
    border: solid #FF9D1D 3px;
}

button:hover,
button:active {
    background-color: #FFF171;
    border: solid #FFE00C 3px;
    cursor: pointer;
}

/* ---------------------- headings ------------------------*/

h2 {
    color: #FFBD59;
    background-color: #8C2129;
    text-align: center;
    font-size: 1.8em;
    padding: 58px 0 5px;
    font-family: 'Staatliches', cursive, sans-serif;
}

h3 {
    font-size: 1.8em;
    padding: 10px;
    font-family: 'Staatliches', cursive, sans-serif;
}

/* heading under logo */
/* there is only 1 h1, it's with logo*/
h1 {
    font-family: 'Condiment', cursive, serif;
    text-align: center;
    color: #fff;
    font-size: 6em;
}

/*----------------------------------- Header ---------------------------------
-------------------------------------------------------------------------------*/

header {
    min-height: 700px;
    /* Photo by Felix Mooneeram on Unsplash */
    /* https://www.pexels.com/photo/adult-amphitheater-armchair-balcony-458379/ */
    background-image: url(../../media/cinema-header-background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
}

/*logo positionoing */
.logo {
    padding-top: 5%;
}

/* logo created at https://www.canva.com/ */
.logo img {
    display: block;
    margin: 0 auto;
}

/* ------------------------------------ Navigation --------------------------------------
-----------------------------------------------------------------------------------------*/

nav {
    background-color: #591617;
    position: sticky;
    top: 0;
    border-bottom: solid 2px white;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    align-content: center;
    max-width: 100%;
    margin: 0 auto;
}

nav a {
    display: inline-block;
    padding: 5px;
    flex-basis: 20%;
    text-decoration: none;
    text-align: center;
    min-width: 180px;
    min-height: auto;
    margin: 0 5 0 5;
}

/*  change flex to column when viewport is smaller than 550px */
@media screen and (max-width: 550px) {
    nav {
        flex-direction: column;
    }
}

/* styles pseduo elements for nav links */

/*
nav a:link,
nav a:visited {
    color: white;
    font-size: 1.5em;
    font-family: 'Staatliches', cursive, sans-serif;
}*/

nav a {
    color: white;
    font-size: 1.5em;
    font-family: 'Staatliches', cursive, sans-serif;
}

nav a:hover,
nav a:active {
    color: black;
    font-size: 1.5em;
    font-family: 'Staatliches', cursive, sans-serif;
    background-color: #9AFF8D;
}

.active {
    font-size: 1.5em;
    font-family: 'Staatliches', cursive, sans-serif;
    background-color: #9AFF8D;
    color: black;
}

/* -----------------------------------------About us --------------------------------------------- 
--------------------------------------------------------------------------------------------------*/

/* set background */
#about-us {
    /* Photo by Thomas William on Unsplash */
    background-image: url(../../media/about-back.jpg);
    background-size: cover;
    background-attachment: fixed;
}

/* style and positon about us continer*/
.about-us-cont {
    background-color: hsla(0, 0%, 95%, .7);
    max-width: 600px;
    min-height: 700px;
    margin: 5%;
    padding: 40px;
    border-radius: 6px;
    border: solid 2px #8C2129;
    font-size: 1.2em;
}

/* position about us content */
.about-us-cont p {
    padding: 8px;
}

/* position list in about us*/
.about-us-cont ul {
    padding: 8px;
    margin: 0 20px;
}

/* style Dolby link in about us */
.dolby:link,
.dolby:visited {
    color: #000;
    font-size: 1em;
    text-decoration: none;
    font-weight: bold;
}

.dolby:hover,
.dolby:active {
    color: #8C2129;
    text-decoration: none;
    font-weight: bold;
}

/* position sub-heading*/
.about-us-cont h3 {
    padding-top: 30px;
}

/* -----------------------------------Seats and Prices --------------------------------------- 
---------------------------------------------------------------------------------------------*/

/********------------------ seats ---------------*********/

/* set background */
#seats-and-prices {
    /* https://www.pexels.com/photo/curve-industry-photography-vintage-65128/ */
    background-image: url(../../media/seat-price-background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

/* flex box for seat container and price container */
.seat-prices-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 5%;
}

/* seats container */
.seat-cont {
    background-color: hsla(0, 0%, 97%, .7);
    width: 500px;
    padding: 40px;
    overflow: auto;
    border-radius: 6px;
    margin: 5px;
    border: solid 2px #8C2129;
    font-size: 1.1em;
}

/* size seat images*/
.seat-cont img {
    max-width: 60%;
    max-height: auto;
    padding-top: 40px;
}

/* center images */
.stand-seat,
.first-seat {
    display: block;
    margin: 0 auto;
    padding: 10px;
}

/* center desription under images */
.img-info {
    text-align: center;
}

/********------------------ prices ---------*********/

/* prices container, contains table */
.price-cont {
    background-color: hsla(0, 0%, 95%, .7);
    max-width: 500px;
    padding: 30px;
    overflow: auto;
    border-radius: 6px;
    border: solid 2px #8C2129;
    margin: 5px;
}

/* style discount time under price table*/
.discounts {
    margin-top: 10px;
}

/* -------------------------------------- now showing -----------------------------------------
--------------------------inlcuding trailer and pick time/day buttons---------------------------*/

/* set background */
#now-showing {
    /* https://www.pexels.com/photo/board-cinema-cinematography-clapper-board-274937/ */
    background-image: url(../../media/now-showing-background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

/* flexbox to position movie panels */
.flex-container-now-showing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1600px;
    margin: 5%;
    height: auto;
    padding-bottom: 30px
}

/* style each movie panel */
.now-showing-a:visited, .now-showing-a:link {
    background-color: hsla(0, 0%, 95%, .7);
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 6px;
    text-align: center;
    flex-basis: 300px;
    border: solid 2px #8C2129;
    margin: 5px;
    color: black;
    text-decoration: none;
}

.now-showing-a:hover {
    cursor: pointer;
    transform: scale(1.05, 1.05);
}

/* set font for movie headings */
#now-showing h3 {
    font-size: 1.5em;
}

/* --------------- trailer --------------- */

/*flexbox to position description and trailer */
.flex-container-trailer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 3em;
    max-width: 1400px;
    margin: 0 auto;
}

/* set background of trailer section*/
.trailer-background-cont {
    background-color: floralwhite;
    padding: 30px;
    position: relative;
    display: none;
}

/* trailer description*/
.flex-item-trailerDescrip {
    max-width: 350px;
    padding: 10px;
}

/* trailer description heading*/
.flex-item-trailerDescrip h4 {
    padding: 10px 10px 10px 0px;
}

/* trailer description body*/
.flex-item-trailerDescrip p {
    padding-bottom: 30px;
}

/* video of trailer */
.flex-item-trailer iframe {
    max-width: 100%;
}

/* posotion select time/date buttons heading*/
.select-time-heading {
    margin: 5px;
    position: inherit;
    left: 15%;
    display: flex;
}

/* flex box to postion buttons */
.slecect-day-time-buttons-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
    flex-basis: 10%;
}

/* ----------------------------------------Bookings ---------------------------------------- 
--------------------------------------------------------------------------------------------*/

/************** ------ positioning and background --------********/

/* set background */
#bookings {
    /*Photo by rawpixel.com from Pexels*/
    background-image: url(../../media/booking-background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

/* posisitom booking wrap in center*/
.booking-col-flex {
    display: flex;
    justify-content: center;
}

/* wrap all booking content in a box */
/* sets background and border */
.booking-wrap {
    height: 100%;
    max-width: 1000px;
    margin: 5%;
    background-color: hsla(0, 0%, 95%, .9);
    border-radius: 6px;
    border: solid 2px #8C2129;
}

/* flex box to position ticket and cust details */
.booking-flex-wraper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

/* select ticket section of booking form */
/* Set size and postion */
/* Fits side by side customer details*/
.ticket-flex-wraper {
    display: flex;
    flex-direction: column;
    flex-basis: 49%;
}

/* Set size of Customer details*/
.cust-details {
    flex-basis: 49%;
}

/*************-----------------form items ------------------***********?
/* displays movie selected */
.movie-selected-heading {
    margin: 30px;
}

/* set position and remove border*/
fieldset {
    margin-bottom: 17px;
    padding: 30px;
    border: 0;
}

/* headings of each section of form */
legend {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: underline;
}

/* labels to each input or select item */
label {
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
    min-width: 40%;
    padding: 10px 20px 20px 0px;
}



/* -------------- number of tickets select --------------*/
select {
    display: inline-block;
    font-size: 1em;
    border: none;
    border-bottom: solid #8C2129 3px;
    width: 160px;
    cursor: pointer;
}

/* --------------- -- customer details------------------ */

/* stlye text inputs */
input {
    display: inline-block;
    min-width: 100%;
    font-size: 1em;
    padding: 5px;
    border: none;
    border-bottom: solid #8C2129 3px;
    cursor: pointer;
}

/* style text inout once clicked on */
input:focus {
    background-color: #FFF171;
    border: solid #FFE00C 3px;
}

.cust-details label {
    cursor: pointer;
}

/***** total price and order button *****/

/* flex box to position items */
.total-order-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
    max-width: 100%
}

/* style box which displays total price */
.total-order-wrap output {
    max-width: 180px;
    height: 50px;
    padding: 12px 150px 15px 12px;
    margin: 5px 25px 5px 5px;
    background-color: #fff;
    font-weight: bold;
    border: solid #8C2129 3px;
}

/* style "Total" label next to price output */
.total-order-wrap span {
    margin: 5px;
    padding: 15px;
    font-size: 1.3em;
    font-weight: bold;
}

/* ---- error messgaes ----- */
#no-tickets p, #no-tickets, #no-seats{
    padding-bottom: 10px;
    color: red;
}
/*
#no-tickets p:link, #no-tickets p:visited,
#no-tickets:link, #no-tickets:visited{
    padding-bottom: 10px;
    color: red;
}*/

#exp-err{
    color:red;
}

#no-tickets p a:link, #no-tickets p a:visited,
#no-tickets a:link, #no-tickets a:visited{
    color: red;
}

#no-tickets p a:hover, #no-tickets p a:active,
#no-tickets a:hover, #no-tickets a:active{
    color: blue;
    background-color: #9AFF8D;
}
/* ----------------------------------------- footer -------------------------------------- 
-------------------------------------------------------------------------------------------*/

/* set background */
footer {
    background-color: grey;
}

/* position flex items in flexbox*/
.footer-wrap-flex {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

/* poistion footer button */
.footer-button {
    margin-left: 20px;
}

#toggleWireframeCSS {
    background-color: darkgray;
    border-color: #000;
}

/* postion Lunardo's cont dets */
address {
    display: inline;
}

/* postion Lunardo's cont dets */
.contact-dets {
    margin-bottom: 10px;
}

.print-but {
    background-color: #27A5FA;
    border-color: #2361DE;
}


/* --------------------------- receipt -------------------------------------
----------------------------------------------------------------------------*/

.receipt {
    max-width: 800px;
    background-color: hsla(0, 0%, 95%, .7);
    border: solid 2px #8C2129;
    margin: 20px auto;
    padding: 30px 50px 80px 50px; 
}

.receipt-buttons {
    display: flex;
    justify-content: center;
}

.receipt h1 {
    font-family: serif;
    font-size: 1.5em;
    color: black;
    padding: 10px;
    border-bottom: solid black 3px;
}

.receipt h2 {
    font-family: 'Condiment', cursive, serif;
    background-color: transparent;
    color: #000;
    padding: 20px;
    margin: 0;
    font-size: 2.5em;
}

.receipt-header-wrap {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.date {
    padding: 20px;
   
}

.bus-cust-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.receipt h3 {
    font-size: 1.3em;
    padding-left: 0;
}

.bus-dets, .cust-dets {
   padding: 0 20px 20px 20px;
}

.purchase-wrap {
    padding: 0 20px 20px 20px;
}

.purchase-wrap th{
    font-weight: bold:
}

/* -------------------------- ticket styles --------------------------------------
---------------------------------------------------------------------------------- */

.group-ticket {
    display: none;
    max-width: 800px;
    min-height: 242px;
    background-color: hsla(0, 0%, 95%, .7);
    border: solid 2px #8C2129;
    margin: 20px auto;
    padding: 5px;
}

#single-tickets-wrap {
    display: none;
}

.single-tickets {
    display: flex;
    max-width: 800px;
    min-height: 242px;
    background-color: hsla(0, 0%, 95%, .7);
    border: solid 2px #8C2129;
    margin: 20px auto;
    padding: 5px;
}

.grp-tick-dets {
    flex-basis: 79%;
}

.group-ticket h1, .single-tickets h1 {
    font-family: serif;
    font-size: 1.4em;
    color: black;
    padding-left: 60px;
}

.group-ticket h2, .single-tickets h2{
    background-color: transparent;
    margin-left: 20px;
    padding: 0px;
    font-family: 'Condiment', cursive, serif;
    color: #000;
}

.grp-tick-header-wrap {
    display: flex;
    align-items:center;
    margin-left: 20px;
    border-bottom: black solid 1px;
}

.admit-once {
     flex-basis: 19%;
    display: flex;
     flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: black dotted 3px;
    font-size: 1.5em;
    line-height: 1.5em;
}

.grp-tick-movie-dets {
    display: flex;
    height: 70%;
    align-items: center;
}
.grp-tick-movie-dets > div {
    flex-basis: 49%;
    font-size: 1.3em;
    line-height: 1.6em;
    padding-left: 20px;
    padding-top: 20px;
}


/* -------------------------- print styles ---------------------------------------
---------------------------------------------------------------------------------- */

@media print {
    
    .receipt-buttons, footer, .debug-module {
        display: none;
    }
    
    .receipt {
        max-width: 100%;
        border: 0;
        background-color: transparent;
        page-break-after:auto;
    }
    
    .group-ticket, .single-tickets {
        
        background-color: transparent;
        page-break-after: auto;
    }
    
    
    
    
    
    
    
    
    
}
